*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: rgb(251, 215, 215);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item{
  border: 3px solid rgb(0, 0, 0);
  background-color: white;
  height: 80px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.p-item{
  background-color: rgb(173, 243, 104);
  border-radius: 18px;
  padding: 12px;
}

#item-2{
  flex: 1 0 400px;

}

